* {
    border: 0px solid red;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova", "Lucida Grande", Helvetica;
    font-size: 16px;
}

#navigation {
    height: 100px;
    padding: 20px 20px 0 28px;
    overflow: hidden;
}
div#nav-logo {
    float:left;
    width: 160px;
    height: 37px;
    background-image: url(../images/basecamp-logo.png);
    background-size: 160px 37px;
    background-repeat: no-repeat;
}
#nav-logo-opacity {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
}
/*左上角logo的动画效果*/
a #nav-logo-opacity:hover {
    /*background-color: red;*/
    opacity: 0.2;
}

#loginbutton {
    border:1px solid #105296;
    border-bottom-width: 3px;
    margin: 0 10px;
    padding:7px 12px;
    float: right;
    background-color: #06C;
    border-color: #105296;
    text-align: center;
    border-radius: 3px;

}
#loginbutton a {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 10px;
}
div#nav-links {
    float:right;
    height: 20px;
}
div#nav-links li{
    /*border:1px solid  red;*/
    margin: 10px 5px;
    height: 30px;
    list-style-type: none;
    display:inline-block;
}
.links>a {
    font-family: "Proxima Nova", "Lucida Grande", Helvetica, sans-serif;
    font-size: 15px;
}
a:link{color: #0066cc;}
a:visited{color: #0066cc;}
a:hover{color: #0088ff;}
a:active{color: #0066cc;}

#main-body {
    width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}

.sections-pic {
    margin-top: 50px;
    text-align:center;}
.sections-pic img {
    /*border:1px solid blue;*/
    margin: auto;
    width: 100%;
    height: 100%;
}
.sections-pic a img {
    width: 100%;
    height: 100%;
}
.sections-pic h1 {
    border:0px solid red;
    color: #000;
    margin:0;
    padding: 20px 0;
    font-size: 35px;
    font-family: "Proxima Nova", "Lucida Grande", Helvetica;
}
.sections-text h2 {
    border:0px solid red;
    margin: 38px 90px 13px;
    padding: 0 38px;
    font-size: 25px;
    font-family: "Proxima Nova", "Lucida Grande", Helvetica;
}
.sections-text p {
    border:0px solid red;
    font-family: "Proxima Nova", "Lucida Grande", Helvetica, sans-serif;
    margin: 10px 80px;
    padding: 0 50px;
    font-size: 18px;
    /*font-weight: 200;*/
    font-style: normal;
    line-height: 30px;
}
.sections-text p a {
    font-size: 1em;
}
.sections-text p span {
    font-size: 110%;
}

.bigbuttons {
    margin:3em auto;
    border:1px solid #105296;
    border-radius: 3px;
    border-bottom-width: 3px; 
    width:500px;
    padding: .75em 1.5em;
    text-align: center;
    background-color: #06C;
}
.bigbuttons a {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}
#loginbutton:hover,.bigbuttons:hover{background-color:#0078f1;}

.sections-text ul {
    margin: 10px 95px;
    padding: 10px 50px;
    line-height: 40px;
}
.sections-text .links a {
    font-size: 20px;
}

footer div {
    text-align: center;
    padding: 18px 0;
}
footer>div>h2 {
    font-size: 120%;
    padding: 15px 0;
}
footer div li {
    display: block;
    font-size: 110%;
    line-height: 27px;
}
footer div li a {
    display: inline-block;
}
